<!-- <nav class="navbar navbar-expand-lg" style="background: #424242;">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-style: italic; font-weight: 500;color: white;">Vehicle Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="btn btn-primary" aria-current="page" [routerLink]="['/']" routerLinkActive="router-link-active" style="font-weight: bold;" >Login</a>
          <a class="btn btn-primary ml-2" [routerLink]="['/sign-up']" routerLinkActive="router-link-active" style="font-weight: bold;" >Signup</a>
        </div>
      </div>
    </div>
  </nav> -->


  <div style="position: absolute; right: 1em; margin-top: 15px;">
    <button class="btn btn-outline-warning" style="width: 100px;" (click)="onLogOut()">Logout</button>
  </div>

  