
<div class="wrap">
    <div class="container mt-5 justify-content-center align-item-center d-flex">
        <div  style="width: 350px; box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="wrapper" style="background-color: #555454a2;" novalidate>
                <h4 for="fname" style="font-size: 20px;" class="text-center text-white">Update Vehicle</h4>
                <hr>
                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputPassword4" class="text-white">Plate No :</label>
                        <input type="text" class="form-control" id="plateNumber" name="plateNumber" #plateNumber="ngModel" [(ngModel)]="vehicle.plateNumber" required pattern="[A-Z]{2}[ -]{0,1}[0-9]{2}[ -]{0,1}[A-Z]{1,2}[ -]{0,1}[0-9]{1,4}$">
                        <div *ngIf="f.submitted && plateNumber.invalid" class="text-danger" style="font-size: 14px;">
                            <div *ngIf="plateNumber.errors?.required">Plate number is required</div>
                            <div *ngIf="plateNumber.errors?.pattern">Plate number is invalid</div>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputAddress" class="text-white">Owner Name :</label>
                        <input type="text" class="form-control" id="ownerName" name="ownerName" #ownerName="ngModel" [(ngModel)]="vehicle.ownerName" required pattern="[a-zA-Z][a-zA-Z ]+">
                        <div *ngIf="f.submitted && ownerName.invalid" class="text-danger" style="font-size: 14px;">
                            <div *ngIf="ownerName.errors?.required">Owner name is required</div>
                            <div *ngIf="ownerName.errors?.pattern">Owner name is invalid</div>
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState" class="text-white">Vehicle Type :</label>
                        <select id="inputState" class="form-control" name="vehicleType" id="vehicleType" #vehicleType="ngModel" [(ngModel)]="vehicle.vehicleType" required>
                            <option selected></option>
                            <option>Two Wheeler</option>
                            <option>Three Wheeler</option>
                            <option>Four Wheeler</option>
                        </select>
                        <div *ngIf="f.submitted && vehicleType.invalid" class="text-danger" style="font-size: 14px;">
                            <div *ngIf="vehicleType.errors?.required">Vehicle type is required</div>
                        </div>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity" class="text-white">Color :</label>
                        <input type="text" class="form-control" id="color" name="color" #color="ngModel" [(ngModel)]="vehicle.color" required pattern="[a-zA-Z][a-zA-Z ]+">
                        <div *ngIf="f.submitted && color.invalid" class="text-danger" style="font-size: 14px;">
                            <div *ngIf="color.errors?.required">Color is required</div>
                            <div *ngIf="color.errors?.pattern">Color is invalid</div>
                        </div>
                    </div>
    
                    <div class="form-group col-md-6">
                        <label for="inputZip" class="text-white">Model :</label>
                        <input type="text" class="form-control" id="model" name="model" #model="ngModel" [(ngModel)]="vehicle.model" required pattern="[a-zA-Z][a-zA-Z ]+">
                        <div *ngIf="f.submitted && model.invalid" class="text-danger" style="font-size: 14px;">
                            <div *ngIf="model.errors?.required">Model is required</div>
                            <div *ngIf="model.errors?.pattern">Model is invalid</div>
                        </div>
                    </div>
                </div>
    
                <button type="submit" class="btn btn-primary"
                    style="width: 48%; font-size: 14px;" >Update</button>
                <button type="button"  class="btn btn-primary ml-2"
                    style="width: 49%; font-size: 14px;" [routerLink]="['/vehicle-list']" routerLinkActive="router-link-active">Back</button>
            </form>
        </div>
    </div>
    </div>