.wrapper {
    // border:1px solid rgb(204, 198, 198);
    padding: 20px; box-shadow: 0px 1px 5px rgba(0,0,0,0.3); 
    // background-color: white;
}

label {
    font-size: 14px;
}

body {
    background: #424242;
    background: linear-gradient(#424242, #212121);
    min-height: 100vh;
    // box-sizing: border-box;
    // margin: -19px 0 0 0;
}