
<div class="mt-4 wrap" style="background-color: #4a4848a2;">
    <div class="panel panel-primary" style= "padding: 20px; box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);">
      <div class="panel-heading">
        <h4 style="font-style: italic;" class="text-center text-white">Driver Master List</h4>
        <hr>
      </div>
  
      <div class="form-group form-inline">
        <button class="btn btn-primary" >Search</button>
        <input type="text" class="form-control ml-2" style="width: 200px;" [(ngModel)]="searchText">
      </div>
      <div class="panel-body main">
        <table class="table">
          <thead class="text-white">
            <tr>
              <th>Sr No.</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>License No</th>
              <th>Phone No</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="text-white">
            <tr *ngFor="let driver of drivers | filter:searchText | paginate: {itemsPerPage: 4, currentPage: page, totalItems: totalLength}">
              <td>{{driver.id}}</td>
              <td>{{driver.firstname}}</td>
              <td>{{driver.lastname}}</td>
              <td>{{driver.licenseNumber}}</td>
              <td>{{driver.phoneNumber}}</td>
              <td><button class="btn btn-secondary" [routerLink]="['/driver-update', driver.id]">Edit</button>
                <button class="btn btn-info btn-danger" 
                  style="margin-left: 10px" (click)="deleteDriver(driver.id)" >Delete</button>
                  <!-- <button class="btn btn-secondary" (click)="goToBookDetails()">Edit</button> -->
              </td>
            </tr>
          </tbody>
          <button class="btn btn-warning mt-2" [routerLink]="['/add-driver']" routerLinkActive="router-link-active">Add Driver</button>
        </table>
            <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
