.wrap {
    margin-left: 150px;
    margin-right: 150px;

}

.table th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.wrapper {
    // border:1px solid rgb(204, 198, 198);
    padding: 20px; box-shadow: 0px 1px 5px rgba(0,0,0,0.3); 
    // background-color: white;
}

label {
    font-size: 14px;
}
