<!-- <nav class="navbar navbar-expand-lg" style="background: #424242;">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-style: italic; font-weight: 500; color: white;">Vehicle Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <button class="btn btn-outline-warning  mr-3" [routerLink]="['/driver-master']" routerLinkActive="router-link-active" style="font-weight: bold;" >Driver Master</button>
            <button class="btn btn-outline-warning mr-3" [routerLink]="['/vehicle-master']" routerLinkActive="router-link-active" style="font-weight: bold;" >Vehicle Master</button>
          <button class="btn btn-primary" aria-current="page" [routerLink]="['/']" routerLinkActive="router-link-active" style="font-weight: bold;" (click)="logout()" >Logout</button>
        </div>
      </div>
    </div>
  </nav> -->


  <app-full-nav-bar></app-full-nav-bar>
  <div class="text-center" style="margin-top: 220px; font-style: italic; color: white;">
    <h4>Welcome To The Vehicle Management System</h4>
  </div>
  